<html>
<head>
   <style>
   .vote-result-wrapper{
      width: 700px;
      height: 700px;
   }
   </style>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<body onload="update()">
      <div class="vote-result-wrapper">
      <div id="socket"></div>
      <div id="myChart"></div>
   </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
// Setting socket
var socket = io.connect();
var value = 0;

function update(){

socket.on('data', function (response) {
   value = parseInt(response)
   console.log(value)
})


}

   Highcharts.chart('myChart', {
      chart: {
          type: 'spline',
          animation: Highcharts.svg, // don't animate in old IE
          marginRight: 10,
          events: {
              load: function () {
  
                  // set up the updating of the chart each second
                  var series = this.series[0];
                  setInterval(function () {
                      var x = (new Date()).getTime(), // current time
                          y = value;
                      series.addPoint([x, y], true, true);
                  }, 100);
              }
          }
      },
  
      time: {
          useUTC: false
      },
  
      title: {
          text: 'Grafik Data Secara Realtime'
      },
  
      accessibility: {
          announceNewData: {
              enabled: true,
              minAnnounceInterval: 15000,
              announcementFormatter: function (allSeries, newSeries, newPoint) {
                  if (newPoint) {
                      return 'New point added. Value: ' + newPoint.y;
                  }
                  return false;
              }
          }
      },
  
      xAxis: {
          type: 'datetime',
          tickPixelInterval: 150
      },
  
      yAxis: {
          title: {
              text: 'Value'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
      },
  
      tooltip: {
          headerFormat: '<b>{series.name}</b><br/>',
          pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
      },
  
      legend: {
          enabled: false
      },
  
      exporting: {
          enabled: false
      },
  
      series: [{
          name: 'Random data',
          data: (function () {
              // generate an array of random data
              var data = [],
                  time = (new Date()).getTime(),
                  i;
  
              for (i = -19; i <= 0; i += 1) {
                  data.push({
                      x: time + i * 1000,
                      y: value
                  });
              }
              return data;
          }())
      }]
  });

   
</script>
</html>
